#order {
    height: 100%;
    overflow: auto;
    .order-list {
        .ol-group {
            line-height: 1;
            font-size: 16px;
            padding: 15px;
            margin: 10px;
            border-radius: 5px;
            background-color: #fff;
            .totalPrice {
                margin: 10px 0 15px;
            }
            .delivery {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .time {
                    color: #999;
                    font-size: 12px;
                }
                .state {
                    font-size: 15px;
                    color: #666;
                }
            }
        }
    }
}