{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "last 3 versions",
                        "not ie <= 8"
                    ]
                }
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": true,
                "regenerator": true
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "transform-vue-jsx",
                "istanbul"
            ]
        }
    }
}