@import '../../style/mixins';
@tabBarHeight:50px;
#home {
    height: 100%;
    position: relative;
    .view-wrapper{
        height: 100%;
        overflow: hidden;
        padding-bottom: @tabBarHeight;
    }
}
