@import '~vux/src/styles/reset.less';
@import '~vux/src/styles/close.less';
@import './common';
@import './mixins';
html,
body {
    font-family: STHeiti,-apple-system-font, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

[v-cloak] {
    display: none;
}

#app {
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}