@import '../../style/mixins';
@deep: ~'>>>';
#order-confirm {
    position: relative;
    height: 100%;
    background-color: #f0eff5;
    padding-bottom: 55px;
    .content-wrapper {
        padding: 10px 10px 65px;
        .delivery-group {
            height: 40px;
            .btn {
                width: 50%;
                height: 34px;
                line-height: 34px;
                font-size: 15px;
                color: #555;
                background: #fcf1cf;
                float: left;
                text-align: center;
                position: relative;
                top: 5px;
                border-radius: 5px 5px 0 0;
                .btn-inner {
                    z-index: 9;
                    position: relative;
                    &:before {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        content: '';
                        z-index: -1;
                        border-radius: 5px;
                    }
                }
                &.active {
                    top: 0;
                    color: #000;
                    background: #fff;
                    .btn-inner {
                        top: 5px;
                        background-color: #fff;
                        &:before {
                            background-color: #fff;
                            height: 39px;
                        }
                    }
                }
                &.left-btn {
                    left: 5px;
                    &.active {
                        left: 0;
                        border-top-right-radius: 100%;
                        .btn-inner {
                            padding-left: 20px;
                            border-right: 20px solid #fcf1cf;
                            &:before {
                                left: 20px;
                                transform: skewX(30deg);
                            }
                        }
                    }
                }
                &.right-btn {
                    right: 5px;
                    &.active {
                        right: 0;
                        border-top-left-radius: 100%;
                        .btn-inner {
                            padding-right: 20px;
                            border-left: 20px solid #fcf1cf;
                            &:before {
                                left: -20px;
                                transform: skewX(-30deg);
                            }
                        }
                    }
                }
            }
        }
        .buyer-info,
        .seller-info {
            background: #fff;
            padding: 15px 0;
            margin-top: -1px;
            @{deep}.weui-cells {
                margin-top: -1px;
                &:before,
                &:after {
                    display: none;
                }
                .weui-cell {
                    &:before {
                        display: none;
                    }
                    &.address-wrapper {
                        p:nth-of-type(1) {
                            word-break: break-all;
                            font-size: 16px;
                            color: #000;
                        }
                        p:nth-of-type(2) {
                            font-size: 13px;
                            color: #555;
                        }
                    }
                    .vux-label {
                        font-size: 16px;
                        color: #555;
                    }
                    .weui-cell__ft {
                        font-size: 15px;
                        color: #333;
                    }
                }
            }
        }
        .goods-info {
            line-height: 1;
            @{deep}.weui-cells {
                margin-top: 5px;
                &:before {
                    display: none;
                }
                .weui-cell {
                    justify-content: space-between;
                    font-size: 15px;
                    color: #333;
                    padding: 20px 15px;
                    &.extra-info {
                        .discount {
                            display: inline-block;
                            vertical-align: middle;
                            width: 15px;
                            height: 15px;
                            text-align: center;
                            line-height: 15px;
                            font-size: 12px;
                            color: #fff;
                            background: #fb4e44;
                        }
                        .extra-right {
                            text-align: right;
                        }
                    }
                    .product-info {
                        height: 50px;
                        overflow: hidden;
                        .img {
                            float: left;
                            width: 50px;
                            height: 50px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .text-wrapper {
                            margin-left: 60px;
                            .text-overflow;
                            span {
                                color: #000;
                            }
                            p {
                                line-height: 15px;
                                font-size: 12px;
                                color: #999999;
                                .text-overflow;
                            }
                        }
                    }
                    .price {
                        color: #000;
                    }
                }
                .sum {
                    padding: 22px 15px;
                    justify-content: flex-end;
                }
            }
            .total-price {
                text-align: right;
                padding: 22px 15px;
                font-size: 13px;
                color: #555;
            }
        }
        .pay-way {
            @{deep}.weui-cells {
                margin-top: 5px;
                line-height: 1;
                .weui-cell {
                    padding: 18px 15px;
                    .vux-label {
                        font-size: 15px;
                        color: #333;
                    }
                    .weui-cell__ft {
                        font-size: 14px;
                        color: #555;
                    }
                }
            }
        }
    }
    .footer-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 55px;
        background-color: #ffffff;
        display: flex;
        justify-content: flex-end;
        line-height: 55px;
        .total-price {
            color: #333;
            font-size: 14px;
            margin-right: 15px;
        }
        .pay-btn {
            width: 130px;
            text-align: center;
            font-size: 17px;
            color: #000;
            background-color: #f1b600;
        }
    }
    .symbol {
        font-size: 10px;
    }
    .total {
        font-size: 20px;
        color: #000;
    }
}

.address-header {
    position: relative;
    border: 0.0625rem solid #eeeeee;
    .header-left {
        position: absolute;
        left: 1.25rem;
        top: 0.625rem;
        display: block;
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: #999999;
    }
    .header-title {
        margin: 0 5.5rem;
        height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: auto;
        text-align: center;
        line-height: 2.5rem;
    }
}

.address-popup {
    .body {
        display: flex;
        align-items: center;
        border-bottom: 0.0625rem solid #eeeeee;
        .radio,
        .btn {
            padding: 0.9375rem;
            >img {
                width: 1.25rem;
            }
        }
        .content {
            flex: 1;
            padding: 0.9375rem 0;
            p:nth-of-type(1) {
                word-break: break-all;
                font-size: 0.9375rem;
                color: #000000;
            }
            p:nth-of-type(2) {
                word-break: break-all;
                font-size: 0.875rem;
                color: #333333;
            }
        }
    }
    .footer {
        height: 50px;
        text-align: center;
        line-height: 50px;
        letter-spacing: -3px;
        span {
            .inline-block;
            &.plus {
                border: 1px solid #f1b600;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                text-align: center;
                line-height: 14px;
                font-size: 18px;
                color: #f1b600;
                margin-right: 10px;
            }
        }
        img {
            display: inline-block;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }
}

.edit-address-popup {
    .btn-wrapper {
        padding: 0.625rem 0.9375rem;
        button {
            font-family: STXihei;
            font-size: 1.0625rem;
            color: #000000;
        }
    }
}

.red {
    color: red;
}