@import '../../style/mixins';
@deep: ~">>>";
@addressHeight: 45px;
#home-page {
    height: 100%;
    overflow: hidden;
    position: relative;
    .address {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100%;
        height: @addressHeight;
        overflow: hidden;
        font-size: 14px;
        padding: 12px 15px;
        display: flex;
        justify-content: space-between;
        background: #f2f2f2;
        .address-left {
            letter-spacing: -3px;
            .vux-x-icon {
                fill: #999;
                .inline-block;
            }
            span {
                margin-left: 10px;
                width: 45.6%;
                .inline-block;
                .text-overflow;
            }
        }
        &:active {
            background-color: #ececec;
        }
        img {
            vertical-align: middle;
        }
    }
    .content {
        padding-top: @addressHeight;
        height: 100%;
        .swiper-wrapper {
            padding-bottom: 56.25%;
            position: absolute;
            left: 0;
            top: @addressHeight;
            z-index: 9;
            width: 100%;
            .vux-slider {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                z-index: 9;
            }
        }
        .shop-wrapper {
            height: 100%;
            overflow: hidden;
            padding-top: 56.25%;
            .catogory-wrapper {
                height: 100%;
                overflow: auto;
                float: left;
                width: 81px;
                .categories {
                    color: #666;
                    background: #f7f8f9;
                    .category {
                        display: block;
                        word-break: break-all;
                        font-size: 13px;
                        line-height: 20px;
                        border-left: 3px solid #f7f8f9;
                        padding: 12px 4px;
                        position: relative;
                        &.active {
                            color: #333;
                            background: #fff;
                            border-color: #f1b600;
                            font-weight: bold;
                        }
                    }
                }
            }
            .product-wrapper {
                height: 100%;
                overflow: auto;
                margin-left: 81px;
                background: #fff;
                .products {
                    .category-title {
                        padding: 11px 10px;
                        font-size: 13px;
                        color: #333;
                    }
                    .product {
                        height: 95px;
                        padding: 10px 15px 10px 10px;
                        overflow: hidden;
                        &:active {
                            background-color: #ececec;
                        }
                        .product-img {
                            float: left;
                            width: 75px;
                            height: 100%;
                            background-size: cover;
                        }
                        .product-info {
                            margin-left: 85px;
                            height: 100%;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: space-between;
                            .product-name {
                                font-size: 16px;
                                color: #000;
                                .text-overflow;
                            }
                            p {
                                display: flex;
                                justify-content: space-between;
                                .product-price {
                                    font-size: 10px;
                                    i {
                                        font-style: normal;
                                        font-size: 16px;
                                        font-weight: bold;
                                    }
                                }
                                .vux-x-icon-ios-plus {
                                    fill: #f1b600;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}